:root {
  --bg-color: #121517;
  --bg-color-secondary: #4b4b4b;
  --text-color: #eef1f4;
  --highlight-color: #00b286;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  height: 100%;
  overflow: hidden;
  font-size: 1.5em;
  font-family: sans-serif;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  #settings-dock {
    max-height: 70px;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row-reverse;
  }

  #settings-dock {
    flex-direction: column;
    max-width: 70px;
    max-height: none;
  }
}

#word-container {
  flex: 9;
  padding: 20px;
}

#touchpad-container {
  flex: 9;
  height: 100%;
}

#autopilot-container {
  flex: 9;
  height: 100%;
}

#settings-dock {
  flex: 1;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#word-btn {
  width: 50px;
  height: 50px;
  background-image: url("img/text.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

#touchpad-btn {
  width: 50px;
  height: 50px;
  background-image: url("img/touchpad.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

#autopilot-btn {
  width: 50px;
  height: 50px;
  background-image: url("img/autopilot.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

#input-palabra {
  height: 50px;
  font-size: 1rem;
}

button {
  padding: 10px;
  background-color: var(--highlight-color);
  border: none;
  color: var(--text-color);
  font-weight: bold;
  font-variant: all-small-caps;
  font-size: 1rem;
}

.touchpad {
  width: 100%;
  height: 100%;
  background-image: url("img/touch.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 200px; /* Resize the background image to cover the entire container */
}

.auto-buttons {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--bg-color);
}

.control-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.control-button:hover {
  background-color: var(--bg-color-secondary);
}

.control-button:active {
  background-color: var(--highlight-color);
}

.rotate {
  background-image: url(img/rotate_left.svg);
  grid-column: 1;
  grid-row: 1/3;
}

.straight {
  background-image: url(img/straight.svg);
  grid-column: 2;
  grid-row: 1;
}

.straight-back {
  transform: scaleY(-1);
  grid-column: 2;
  grid-row: 2;
}

.rotate-right {
  transform: scaleX(-1);
  grid-column: 3;
}
.word-inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: repeat(3, 70px);
  grid-row-gap: 20px;
  align-items: center;
  grid-column-gap: 10px;
  max-width: 400px;
  margin: auto;
}

#welcome-container {
  flex: 9;
  height: 100%;
}

#welcome-inner {
  padding: 20px;
}

#welcome-inner img {
  height: 20px;
  width: 20px;
  filter: invert(98%) sepia(2%) saturate(443%) hue-rotate(179deg)
    brightness(96%) contrast(101%);
}
